//Colors
$light-grey: #F7F6FA;
$light-blue: #D5E4F8;
$light-purple: #E3DBF7;
$light-green: #C7E8E5;

$grey: #CBCACF;
$blue: #7DA0D1;
$purple: #8C77CD;
$green: #58B3A7;
$red: #F6979D;


//Fonts
$small-font-size: 13px;
$medium-font-size: 16px;


//Fonts-mobile
$h1-mobile: 28px;


//Fonts-tablet
$h1-tablet: 32px;


//Fonts-desktop
$h1-desktop: 36px;

//Radius
$extra-small-radius: 2px;
$small-radius: 4px;
$medium-radius: 8px;

